body {
	margin:0;
}
.headerDiv {
	height:220px;
	background-color:#eeeeec;
	position: relative;
}
.headerDiv>.toolbar {
	overflow: hidden;
	position: absolute;
	right: 100px;
	top: 20px;
}
.headerDiv>.toolbar>* {
	float:left;
}
.headerDiv>.toolbar>form>.search {
	height: 20px;
	margin: 0 15px 0 5px;
	padding: 0 20px;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid #393a3a;
	outline: none;
}
.headerDiv>.toolbar>a {
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	color: #393a3a;
	margin-top: 2px;
	text-decoration: none;
    display: block;
    height: 22px;
    text-align: center;
}
.headerDiv>.toolbar>a>span {
    white-space: nowrap;
}
.headerDiv>.toolbar>span {
	margin: 0 15px;
}
.headerDiv>.logo {
	padding-top: 35px;
	padding-bottom: 9px;
}
.headerDiv>.logo>a.biglogo {
	height: 150px;
	width: 300px;
	display: block;
	margin: 0 auto;
}
.headerDiv>.logo>a.smalllogo {
	display: none;
}
.headerDiv>.menu {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 0;
	transition: background-color 0.5s;
}
.headerDiv>.menu>a {
	text-decoration: none;
	height: 26px;
	display: inline-block;
	line-height: 26px;
	color: #393a3a;
	font-size: 14px;
	padding: 0 10px;
	font-family: arial;
	transition: background-color 0.5s,color 0.5s;
}
.headerDiv>.menu>a:hover {
	background-color: #393a3a;
	color:white;
	transition: background-color 0.5s,color 0.5s;
}
.headerDiv>.menu>span {
	height: 26px;
	display: inline-block;
	line-height: 28px;
	font-size: 12px;
	color: #393a3a;
}
.headerDiv.dark {
	height:78px;
	background-color:rgba(238,238,236,0.8);
	position:fixed;
	width: 100%;
	z-index:10;
	top:-82px;
}
.headerDiv.dark>.logo {
	padding-top: 6px;
	padding-bottom: 0;
	margin-left:100px;
	margin-bottom:9px;
}
.headerDiv.dark>.logo>a.biglogo {
	display: none;
}
.headerDiv.dark>.logo>a.smalllogo {
	display: block;
	width: 320px;
}
.headerDiv.dark>.menu {
	position:static;
	background-color: #393a3a;
	transition: background-color 0.5s;
}
.headerDiv.dark>.menu>a {
	color: white;
	transition: background-color 0.5s,color 0.5s;
}
.headerDiv.dark>.menu>a:hover {
	background-color: white;
	color:#393a3a;
	transition: background-color 0.5s,color 0.5s;
}
.headerDiv.dark>.menu>span {
	color: white;
	transition: color 0.5s;
}
.loginIframe {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.1);
	z-index: 1000;
}
.loginIframe>iframe {
	margin: 0 auto;
	display: block;
}
.headerDiv>.toolbar>.cartlist {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 400px;
    position: fixed;
    top: 44px;
    display: none;
    z-index: 100;
}
.headerDiv>.toolbar>.cartlist * {
    font-size: 12px;
}
.headerDiv>.toolbar>.cartlist .cartheader {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.headerDiv>.toolbar>.cartlist .cartheader .captionleft {
    position: absolute;
    left: 0;
    text-align: left;
    padding: 0 20px;
}
.headerDiv>.toolbar>.cartlist .cartheader .captionfight {
    position: absolute;
    left: 200px;
    text-align: left;
    padding: 0 20px;
}
.headerDiv>.toolbar>.cartlist .shoppingCartItem {
    overflow-x: hidden;
    margin: 10px 0;
    max-height: 400px;
}
.headerDiv>.toolbar>.cartlist .cartcontent {
    width: 100%;
}
.headerDiv>.toolbar>.cartlist .cartcontent td.cartleft {
    width: 200px;
    text-align: center;
}
.headerDiv>.toolbar>.cartlist .cartcontent .itemImg {
    width: 150px;
    height: auto;
    margin: 2px;
}
.headerDiv>.toolbar>.cartlist .cartcontent td.cartright {
    text-align: left;
}
.headerDiv>.toolbar>.cartlist .cartcontent .itemPrice {
    color: #666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.headerDiv>.toolbar>.cartlist .cartfooter {
    background-color: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    border: 1px solid #fff;
    text-align: right;
}
.headerDiv>.toolbar>.cartlist .cartfooter .btncheckout {
    background-color: #fff;
    margin: 0 20px;
    padding: 5px 20px;
    color: black;
}